.single-page-wrapper {
  max-width: 100%;
  max-height: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  color: var(--white);
}
.single-page-wrapper iframe {
  align-self: center;
}
.video-info {
  margin: 10px;
}
.video-title {
  font-size: 1.6rem;
  font-weight: 500;
}
.video-details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-creator-details span {
  padding-right: 10px;
}
.icons-wrapper {
  display: inline-flex;
  gap: 1rem;
}
.video-description {
  border-top: 1px solid var(--white);
  padding: 10px 2px;
  font-weight: 400;
}
.like-icon {
  /* color: var(--primary); */
  cursor: pointer;
}
.liked-color {
  color: var(--primary);
}
