.side-nav {
  grid-column: 1 / span 1;
  grid-row: 2/-1;
  background-color: var(--light-black);
  width: 16rem;
  padding: 10px;
  max-height: 100vh;
  min-height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  overflow: auto;
}
.nav-pill {
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.3rem;
  font-size: 1.1rem;
  padding: 10px 1rem;
  letter-spacing: 1px;
  width: 100%;
}
.nav-pill:hover {
  background-color: var(--sidenav-hover);
}
.nav-pill:active {
  background-color: var(--sidenav-hover);
}
.nav-pill.active {
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--sidenav-hover);
  border-left: 3px solid var(--primary);
}
