.navigation-container {
  height: max-content;
  align-items: center;
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1 / span 1;
  justify-content: space-between;
  background-color: var(--light-black);
  backdrop-filter: blur(5px);
  position: relative;
  top: 0;
  z-index: 9999;
  padding-top: 6px;
  padding: 5px;
}
.nav-left-wrapper {
  align-items: center;

  padding: 5px;
}
.logo-container {
  max-width: 9rem;
}
.logo {
  width: 100%;
  cursor: pointer;
}
.menu-btn {
  color: var(--white);
  width: 2rem;
  cursor: pointer;
}
.search-container {
  width: 30rem;
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: var(--body-bg);
}
.search-feild {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--white);
  padding: 10px;
  font-size: 1.2rem;
}
.search-feild:focus {
  box-shadow: 0 0 5px var(--search-box) inset;
}
.search-icon {
  color: var(--white);
  margin-inline: 5px;
}
.nav-right-wrapper {
  align-items: center;
  gap: 1rem;
  margin-inline: 10px;
}
.notification-icon {
  color: var(--white);
  cursor: pointer;
}
.icon-badge-count {
  left: 15px;
  top: 0;
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  background-color: var(--badge-color);
}
.avatar-container {
  position: relative;
}
.avatar-circle {
  cursor: pointer;
}
.user-name {
  color: var(--white);
  cursor: pointer;
}
.user-container {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.user-dropdown-menu {
  position: absolute;
  z-index: 99999;
  top: 3.4rem;
  background-color: var(--light-black);
  width: 10rem;
}
.menu-bar {
  display: flex;
  flex-direction: column;
}
.user-menu-item {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
  padding: 10px;
  font-size: 1.2rem;
}
.user-menu-item:hover {
  background-color: var(--sidenav-hover);
}

.user-menu-item span {
  cursor: pointer;
}
.logout-icon,
.profile-icon,
.login-icon {
  color: var(--nav-icon-color);
}
.logout-icon:hover,
.profile-icon:hover,
.login-icon:hover {
  color: var(--primary-hover);
}
.login-container {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 1.3rem;
  color: var(--light-gray);
  cursor: pointer;
  font-weight: 500;
}
.login-container span:hover {
  color: var(--white);
}
