.home-page-wrapper {
  grid-column: 2/-1;
  grid-row: 2/-1;
}
.videos-wrapper {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  justify-content: space-around;
}
.modal-open {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  display: grid;
  place-items: center;
  z-index: 99999;
  cursor: default;
}
.not-found-msg {
  color: var(--font-color);
  position: absolute;
  right: 20%;
  left: 50%;
}
